.stepper-ol {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.li-div {
  display: flex;
  justify-content: center;
  z-index: 1;
}

.stepper-li {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.stepper-li:not(:last-child):after {
  content: "";
  position: relative;
  top: 1.6rem;
  left: 50%;
  height: 2.5px;
  background-color: hsla(300, 100%, 25%, 0.5);
  order: -1;
  z-index: 0;
}

.stepper-li-active {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.stepper-li-active:not(:last-child):after {
  content: "";
  position: relative;
  top: 1.6rem;
  left: 50%;
  height: 2.5px;
  background-color: purple;
  order: -1;
  z-index: 0;
}

.stepper-li-complete {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.stepper-li-complete:not(:last-child):after {
  content: "";
  position: relative;
  top: 1.6rem;
  left: 50%;
  height: 2.5px;
  background-color: purple;
  order: -1;
  z-index: 0;
}

.stepper-circle {
  color: hsla(300, 100%, 25%, 0.5);
  background-color: whitesmoke;
  width: fit-content;
  display: block;
  border: 2px solid hsla(300, 100%, 25%, 0.5);
  border-radius: 15%;
  padding-top: 0.7rem;
  padding-bottom: 0.7rem;
  padding-right: 1.25rem;
  padding-left: 1.25rem;
  margin: 0;
}

.stepper-circle-active {
  color: purple;
  background-color: white;
  width: fit-content;
  display: block;
  border: 2px solid purple;
  border-radius: 15%;
  padding-top: 0.7rem;
  padding-bottom: 0.7rem;
  padding-right: 1.25rem;
  padding-left: 1.25rem;
  margin: 0;
}

.stepper-circle-complete {
  color: white;
  background-color: purple;
  width: fit-content;
  display: block;
  border: 2px solid purple;
  border-radius: 15%;
  padding-top: 0.7rem;
  padding-bottom: 0.7rem;
  padding-right: 1.25rem;
  padding-left: 1.25rem;
  margin: 0;
}
